<!-- <mat-toolbar>
    <div class="d-flex flex-row-reverse bd-highlight">
        <ng-container *ngIf="selfLayout !== 'blank';">
            <div class="d-flex flex-column flex-root">
                <div class="d-flex flex-row flex-column-fluid page">
                    <ng-container>
                        <ng-container>
                            <app-topbar></app-topbar>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</mat-toolbar> -->
<!-- <main>
    <header>
        <app-topbar></app-topbar>
    </header>
    <aside class="p-2">
        <app-sidebar></app-sidebar>
    </aside>
    <article class="p-2">
        <router-outlet></router-outlet>
    </article>
</main> -->
<router-outlet></router-outlet>